.menu{
    position: absolute;
    top: 20px;
    right: 10%;
    font-weight: bold;
    display: flex;
}

.menu a{
    text-decoration: none;
}

.social{
    margin-right: 14px;
    display: flex;
    align-items: center;

}


.menu-item {
    color: #FFF;
    background-color: rgb(255, 255, 255, 0.15);
    padding: 8px 24px;
    border-radius: 4px;
    margin-right: 14px;
}